@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-color: #F6F6F6;
  --section-color: #FCF7F8;
  --sub-color: #F35B04;
  --text-color: #000000;
  --icon-color: #F35B04;
  --box-shadow: 0px 4px 4px 0px rgba(32, 23, 41, 0.25);
  --Main-font: 'Roboto', sans-serif;
  --text-font: 'Archivo', sans-serif;
  --H2-font-size: 32px;
  --Title-font-size: 24px;
  --text-font-size: 16px;
  --icon-size: 24px;
  --button-font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #f6f6f6;
  font-family: Roboto, sans-serif;
}

header {
    background: var(--section-color);
    width: 100%;
    height: 86px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 0px 100px;   
    border-bottom: 1px solid #201729; 
    gap: 200px;
    margin: 0;            
}

#divLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.logo {
    border-radius: 50%;
    height: 70px;
    margin: 0;                    
}

#cityName {
    margin: 0px;
    font-size: var(--H2-font-size);
    font-weight: 700;
    color: black;
    white-space: nowrap;         
    overflow: hidden;            
    max-width: 100%; 
}

.tagline {
    display: flex;
    align-items: center;
    justify-content: end;
}

.boomLucena {
    height: 73px; 
}

#divNavigator {
    background: var(--section-color);
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0px 30px 0px 120px;
    overflow: hidden;
    border-bottom: 1px solid #e3e3e3;
}

.hideOnDesktop {
    display: none;
}

nav ul {
    list-style: none;
    margin: 16px auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
    max-width: 100%;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;        
    max-width: 100%; 
}

nav a:hover {
    color: #f35b04;
}

#divSearch {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 0px;
    margin-left: auto;
}

#search {
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 4px;
    border: 1px solid var(--sub-color);
    background-color: transparent;
    font-size: 16px;
    display: flex;
    align-items: center;
    outline: none; 
}

#divSearch button {
    cursor: pointer;
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 30px;
    height: 28px;
    border: 1px solid var(--sub-color);
    background: var(--sub-color);
    color: #f6f6f6;
    margin: 0 0 0 0;
}

.sidebar {
    position: fixed;
    top: 62px;
    left: 0;
    height: 50vh;
    width: 200px;
    background-color: var(--section-color);
    z-index: 1000;
    box-shadow: var(--box-shadow);
    display: none;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
    border-bottom-right-radius: 5px;
}

.sidebar li:nth-child(1) {
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 15px;
   text-align: end;
}


.sidebar li {
    width: 100%;
    padding: 5px 0px 5px 0px;
    margin: 0px;
}

.sidebar a {
    width: 100%;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.sidebar a:hover {
    color: var(--sub-color);
}

@media (max-width: 998px) {
    header { 
        padding: 0px 50px;
    }

    #divNavigator {
        padding: 0px 5px 0px 100px; 
    }

}

@media (max-width: 900px) {
    header {
        height: 70px;
        padding: 0px 20px;
        gap: 16px;
    }

    #divLogo {
        gap: 8px;
    }

    .logo { 
        height: 50px;
    }

    #cityName {
        font-size: 20px;
        white-space: nowrap;
    }

    .tagline {
        justify-content: flex-end;
    }

    .boomLucena {
        height: 50px;
    }

    .hideOnDesktop {
        display: flex;
    }

    .hideOnMobile {
        display: none;
    }

    #divNavigator {
        justify-content: space-between;
        padding: 0px 5px 0px 30px; 
    }

    nav ul {
        margin: 8px auto;
        gap: 16px;        
    }

    nav a {
        font-size: 18px;
    }
    
}

@media (max-width: 600px) {
    #cityName {
        font-size: 20px;
        white-space: nowrap;
    }

    #divNavigator {
        justify-content: space-between;
        padding: 0px 5px 0px 30px; 
    }

    nav ul {
        margin: 8px auto;
        gap: 16px;        
    }

    nav a {
        font-size: 18px;
    }
    
    #divSearch {
        margin-left: 16px;
        width: 250px;
    }   

    #search {
        width: 200px;
        font-size: 14px;
    }

    #divSearch button {
        padding: 5px;
        align-self: center;
        border: none;
        width: 30px;
        height: 28px;
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    header {
        height: 50px;
        padding: 0px 20px;
        gap: 8px;
    }

    #divLogo {
        gap: 8px;
    }

    .logo { 
        height: 32px;
    }

    #cityName {
        font-size: 16px;
        white-space: nowrap;
    }

    .boomLucena {
        height: 40px;
    }

    .sidebar {
        top: 42px;
    }

    #divSearch {
        justify-content: flex-end;
        margin-left: 16px;
        width: 250px;
    }

    #search {
        width: 170px;
        font-size: 12px;
    }

    #divSearch button {
        height: 24px;
        font-size: 14px;
    }
}

.form-container {
  max-width: 50%;
  margin: 3rem auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px 0px rgba(32, 23, 41, 0.25);
}

@media (max-width: 768px){
    .form-container{
        max-width: 80%;
    }
}

form label {
  display: block;
  margin-top: 1rem;
  font-weight: 600;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.75rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

form textarea{
  resize: vertical;
}

form button {
  margin-top: 1.5rem;
  background-color: #006494;
  color: #fff;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #f35b04;
}

#confirmation {
  text-align: center;
  font-size: 18px;
  color: green;
  font-weight: bold;
}

footer {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: normal;
}

#top_section {
    background-color: #d9d9d9;
    padding: 2rem 6.25rem 0.2rem 6.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    text-align: left;
    margin: 0;
}

#top_section>div {
    flex: 1 1 200px;
    max-width: 250px;
    margin: 1rem;
}

#top_section h3 {
    margin-top: 0;
}

h3 {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#bottom_section {
    background-color: #006494;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 6.25rem;
    font-size: 16px;
    margin: 0;
}

a {
    text-decoration: none;
}

#qLinks a {
    color: #f35b04;
}

#gLinks a {
    color: black;
}

#connect a {
    color: black;
    display: inline;
}

#qLinks a:hover,
#gLinks a:hover,
#connect a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#top_section p,
#top_section li,
#top_section li a,
#qLinks li,
#gLinks li,
.logo-text {
    margin-bottom: 8px;
    display: block;
}

#connect p {
    margin: 0;
    line-height: 1.4;
}

#top_section p:last-child,
#top_section li:last-child,
.logo-text:last-child {
    margin-bottom: 0;
}

.logo-container {
    flex: 1 1 200px;
    max-width: 250px;
    margin: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    position: relative;
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    opacity: 0.5;
}

.logo-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color, #000);
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    pointer-events: none;
    width: 120%;
    padding: 0 15px;
    border-radius: 4px;
    letter-spacing: 0.05em;
}

@media (max-width: 600px) {
    #top_section {
        flex-direction: column;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    #top_section>div {
        max-width: 100%;
        flex: none;
        margin: 0.5rem 0;
        text-align: center;
    }

    #top_section p,
    #top_section li,
    #top_section li a,
    #qLinks li,
    #gLinks li,
    .logo-text {
        text-align: center;
    }

    #bottom_section {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    ul {
        padding-left: 0;
    }

    .logo-container {
        height: auto;
        max-width: 250px;
    }

    .logo-img {
        height: auto;
        max-width: 150px;
        max-height: 150px;
        margin: 0 auto;
    }

    .logo-text {
        width: 100%;
        max-width: 100%;
        font-size: 14px;
        padding: 0 10px;
    }
}