*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bg-color: #F6F6F6;
    --section-color: #FCF7F8;
    --accent-color: #006494;
    --sub-color: #F35B04;
    --important-section: #9A031E;
    --button-color: #201729;
    --text-color: #000000;
    --footer-bg: #D9D9D9;
    --icon-color: #F35B04;
    --box-shadow: 0px 4px 4px 0px rgba(32, 23, 41, 0.25);
    --Main-font: 'Roboto', sans-serif;
    --text-font: 'Archivo', sans-serif;
    --border-radius: 5px;
    --H1-font-size: 64px;
    --H2-font-size: 32px;
    --Title-font-size: 24px;
    --text-font-size: 16px;
    --icon-size: 24px;
    --button-font-size: 18px;
}

body {
    font-family: var(--Main-font);
    background-color: var(--bg-color);
    color: var(--text-color);
}

.topBar {
    width: 100%;
    height: 60px;
    background-color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    box-shadow: var(--box-shadow);
}

.left-section {
    display: flex;
    align-items: center;
    gap: 4px;
}

.left-section i {
    font-size: var(--icon-size);
    color: var(--section-color);
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 8px;
}

.right-section 

.right-section i {
    font-size: var(--icon-size);
    color: var(--section-color);
}

.right-section span {
    font-size: var(--Text-font-size);
    font-family: var(--Main-font);
    color: var(--section-color);
}